.view-button button, .grid-view{
  position: relative;
  > span {
    background-color: mediumslateblue !important;
    bottom: 5px;
    font-size: 9px;
    height: 15px;
    line-height: 9px;
    padding: 3px;
    position: absolute !important;
    right: 0;
    text-align: center;
    top: auto !important;
    width: 16px;
  }
}
.platform-android {
  .view-button button, .grid-view{
    > span {
      line-height: 12px;
    }
  }
}
.platform-ios {
  //  #nav-bar-custom {
  //    height: 60px;
  //    .bar-header {
  //      height: 60px;
  //    }
  //  }
}

#nav-bar-custom {
  .icon {
    color: #fff;
  }
  .hide.must-show {
    display: block;
  }
  .left-buttons button {
    padding: 0;
    width: 40px;
  }
}