.view-button button {
  border: medium none;
  height: 29px;
  width: 29px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  color: #fff;
}

.view-wishlist {
  background-image: url("../img/view_wishlist_white.png");
}

.view-cart {
  background-image: url("../img/view_card.png");
}

#nav-bar-custom{
  .icon{
    color: #fff;
  }
}