.view-button button, .grid-view, .button-back{
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px auto;
  border: medium none;
  color: #fff;
  position: relative;
  > span {
    background-color: mediumslateblue;
    border-radius: 100%;
    bottom: 5px;
    font-size: 9px;
    height: 17px;
    line-height: 19px;
    position: absolute;
    right: 0;
    width: 17px;
  }
}

.view-button button.view-cart {
  background-position: center bottom 10px;
  background-size: 27px auto;
}

.button-back {
  background-image: url("../img/back_btn.png");
}

.grid-view {
  background-image: url("../img/grid_view.png");
}

.view-wishlist {
  background-image: url("../img/wishlist_white.png");
}

.view-cart {
  background-image: url("../img/view_card.png");
}

#nav-bar-custom {
  .icon {
    color: #fff;
  }
  .hide.must-show {
    display: block;
  }
  .left-buttons button {
    padding: 0;
    width: 40px;
  }
}