<ion-view id="list-product" class="list-product" cache-view="false">
    <ion-content>
        <ion-list class="padding">
            <ion-item ng-repeat="item in wishlist" class="item">
                <div class="thumb-wrap">
                    <a href="#/menu/product/{{item.entity_id}}">
                        <img ng-src="{{item.image_url}}">
                    </a>
                </div>
                <div class="info-wrap">
                    <div class="title-wrap">
                        <h2>{{item.name}}</h2>
                    </div>
                    <div class="price">
                        <div class="cross" ng-if='0'>
                            70000
                        </div>
                        <div class="orange">
                            {{item.regular_price_with_tax}}
                        </div>
                    </div>
                </div>
                <button class="delete icon-top" ng-click="removeFromWishlist(item)"></button>
                <button class="add-cart icon-bottom" ng-click="add_to_cart(item)"
                        ng-class="{'actived' : item.added}"></button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>