<ion-view id="list-product" class="list-product" cache-view="false">
    <ion-content id="wishlist-template">
        <ion-list ng-if="!lengthWishlist">
            <ion-item>
                Chưa có sản phẩm
            </ion-item>
        </ion-list>
        <ion-list class="padding" ng-if="lengthWishlist">
            <ion-item ng-repeat="item in wishlist" class="item">
                <div class="thumb-wrap">
                    <a href="#/menu/product/{{item.entity_id}}">
                        <img ng-src="{{item.thumb}}">
                    </a>
                </div>
                <div class="info-wrap">
                    <div class="title-wrap">
                        <h2><a href="#/menu/product/{{item.entity_id}}">{{item.name}}</a></h2>
                    </div>
                    <div class="price">
                        <div class="cross" ng-show="item.price_old">
                            {{item.price_old}}
                        </div>
                        <div class="orange">
                            {{item.price}}
                        </div>
                    </div>
                </div>
                <button class="button-cus button button-clear button-icon ion-ios-close-outline icon-top" ng-click="removeFromWishlist(item)"></button>
                <button class="button-cus ion-bag button button-clear button-icon icon-bottom"
                        data-ng-click="add_to_cart(item)"
                        ng-class="{'actived' : item.added}">
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>