<ion-view id="list-product">
    <ion-content id="checkout-template" overflow-scroll="true">
        <form class="form-wrap" ng-submit="updateUser()">
            <ion-list class="address-info">
                <ion-item class="item-divider title-group">
                    <h2>Thông tin của bạn</h2>
                </ion-item>
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Ho ten</span>
                    <input type="text" ng-model="user.name">
                </ion-item>

                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="user.email">
                </ion-item>
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Dien thoai</span>
                    <input type="text" ng-model="user.phone">
                </ion-item>

                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Dia chi</span>
                    <input type="text" ng-model="user.address">
                </ion-item>
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Quan/Huyen</span>
                    <input type="text" ng-model="user.district">
                </ion-item>
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Thanh Pho</span>
                    <input type="text" ng-model="user.city">
                </ion-item>
            </ion-list>
            <button class="button button-block button-positive submit-btn" type="submit">Lưu</button>
        </form>
    </ion-content>
</ion-view>
