<ion-view view-title="Products">
    <ion-content id="product-template">
        <div class="mansory"
             masonry="{'itemSelector': '.masonry-brick', gutter: 5, transitionDuration: '.9s', hiddenStyle: {opacity: .001, transform: 'scale(0.01)', transform: 'rotate(200deg)'}, visibleStyle: {opacity: 1, transform: 'rotate(200deg)'}}">
            <div  class="item masonry-brick" ng-repeat="product in products">
            <a href="#/app/products/{{}}" >
                <img ng-src="{{ product.img }}" alt="A masonry brick">
</a>
                <div class="thumb-footer">
                    <h2>Pretty Hate Machine</h2>

                    <p>Nine Inch Nails</p>
                    <button class="button button-clear icon ion-bag ion-assertive" ng-click="chooseProductOption(product)"></button>
                    <button class="button button-clear icon ion-ios-heart ion-assertive"
                            ng-click="addToWishlist(item)"></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

