<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Lua Chon</h1>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="addToCart()">
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Mau sac
                    </div>
                    <select ng-change="updateSelectColor(mySelectColor)" ng-model="mySelectColor">
                        <option>Blue</option>
                        <option selected>Green</option>
                        <option>Red</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Kich thuoc
                    </div>
                    <select ng-change="updateSelectSize(mySelectSize)" ng-model="mySelectSize">
                        <option>S</option>
                        <option selected>M</option>
                        <option>X</option>
                    </select>
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Nhap</button>

                </label>
                <div class="buttons">
                    <button class="button button-block button-positive" ng-click="closeProductOptionPopup()">Huy</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>



