<ion-view id="list-product" class="list-product" cache-view="false">
    <ion-content scroll="false">
        <ion-list ng-if="!lengthCart">
            <ion-item>
                Chưa có sản phẩm
            </ion-item>
        </ion-list>
        <ion-scroll direction="y" style="height: 100vh" class="has-ion-scroll" ng-if="lengthCart">
            <ion-list class="padding">
                <ion-item ng-repeat="item in cartlist" class="item">
                    <div class="thumb-wrap">
                        <a href="#/menu/product/{{item.entity_id}}">
                            <img ng-src="{{item.thumb}}">
                        </a>
                    </div>
                    <div class="info-wrap">
                        <div class="title-wrap">
                            <h2>{{item.name}}</h2>
                        </div>
                        <div class="price">
                            <div class="cross" ng-show="item.price_old">
                                {{item.price_old}}
                            </div>
                            <div class="orange">
                                {{item.price}}
                            </div>
                        </div>
                        <div class="detail-attr"><label>So luong</label> <span class="detail"><input type="number"
                                                                                                     ng-model="item.quantity"
                                                                                                     value="{{item.quantity}}"/></span>
                        </div>
                    </div>

                    <button class="delete icon-top" ng-click="removeFromCart(item)"></button>
                    <button class="add-wishlist icon-bottom" ng-click="addToWishlist(item)"
                            ng-class="{'actived' : item.like}"></button>
                </ion-item>
            </ion-list>
        </ion-scroll>
        <button class="button no-radius button-positive button-block bottom-absolute" ui-sref="menu.checkout"
                ng-click="cart_checkout()">Tạo Đơn Hàng
        </button>
    </ion-content>
</ion-view>