$light-bg: #00aaf5;
$main-font: Roboto, sans-serif;
.orange{
  color: #ff8a00;
}
.pink{
  color: #f94568;
}
.cross{
  color: #acacac;
}
body{
  font: 15px $main-font;
}
.ion-ios-heart.actived {
  color: red;
}

.item {
  .icon-top, .icon-bottom {
    height: auto;
    top: auto;
    bottom: auto;
  }
  .icon-top {
    top: 5px;
  }
  .icon-bottom {
    bottom: 5px;
  }
}

.modal-backdrop-bg {
  background-color: rgba(0, 0, 0, 0.5);
}

