#cart-template {
  .input-numb {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 7px;
    display: inline-block;
    height: 26px;
    padding: 1px 5px 0;
    width: 50px;
    text-align: center;
    margin-left: 10px;
  }
  .list .button-cus{
    width: 27px;
  }
}