#checkout-template {
  margin-bottom: 50px;
  .shipping-info {
    ion-item {
      border: medium none;
      padding: 5px 0;
      p {
        line-height: 20px;
        margin-top: 10px;
      }
    }
  }

  //.shipping-info {
  //  .edit {
  //    background: transparent url("../img/edit_btn.png") no-repeat scroll right center / 25px auto;
  //    color: #00aaf4;
  //    display: block;
  //    float: right;
  //    font-size: 0;
  //    height: 45px;
  //    text-align: right;
  //    width: 45px;
  //  }
  //}

  .item-button-right.item {
    height: 50px;
    button{
      color: #000;
    }
  }

  > .scroll:first-child {
    min-height: 100%;
  }

  .form-wrap {
    .submit-btn {
      position: inherit;
    }
  }

  .sum-wrap {
    border-top: 1px solid #ccc;
    display: block;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 80px;
    .item {
      border: medium none;
      padding: 5px 0;
      > div {
        @include clearfix();
        h2 {
          float: left;
        }
        p {
          float: right;
          font-weight: 300;
          color: #000;
        }
      }
    }
    .total.item > div p {
      font-weight: 700;
      color: #ff8a00;
    }
  }
  .item h3 {
    display: block;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    margin: 0 0 10px;
  }

  &.user-template{
    margin-bottom: 0;
  }
}

#list-product #checkout-template .address-info {
  border-bottom: medium none;
}

#checkout-template.checkout-edit {
  margin-bottom: 0;
}
#checkout-template.checkout-edit .submit-btn {
  margin-top: 60px;
  margin-bottom: 0;
}
#list-product .border-top > ion-item:first-child {
  border-top: 1px solid #ddd;
}