#list-product-template {
  .a-card {
    background-color: #eaeaea;
    border-radius: 7px;
    margin: 10px 0;
    overflow: hidden;
    border: 1px solid #ccc;
  }
  .thumb-footer h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .info-wrap {
    text-align: justify;
    @include display_inline_block();
    > * {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .info-inner-l {
    padding: 0 5px;
    text-align: center;
    .orange {
      font-size: 18px;
    }
    .cross {
      color: #acacac;
    }
  }
  .info-inner-r {
    button {
      background-color: transparent;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: contain;
      border: medium none;
      height: 27px;
      margin: 0 5px 0 0;
      width: 27px;
      &.add-cart {
        background-image: url("../img/cart.png");
        &.actived{
          background-image: url("../img/cart_added.png");
        }
      }
      &.add-wishlist {
        background-image: url("../img/wishlist.png");
        &.actived{
          background-image: url("../img/wishlist_added.png");
        }
      }
    }
  }
}