#list-product-template {
  .button{
    text-transform: uppercase;
  }
  //.button-next-total {
  //  bottom: -47px;
  //  position: absolute;
  //  transition: bottom 1s;
  //  &.slided{
  //    bottom: 0;
  //  }
  //  > * {
  //    border-left: 1px solid #fff;
  //    border-radius: 0;
  //    font-family: arial;
  //    font-size: 16px;
  //    line-height: 44px;
  //    margin: 0;
  //  }
  //}
  .has-footer {
    bottom: 0;
  }
  ion-footer-bar{
    bottom: -100px;
    padding: 0;
    transition: bottom 0.8s;
    &.slided{
      bottom: 0;
    }
  }

  .button-next-total {
    > *:first-child {
      background-color: mediumturquoise;
      color: #fff;
    }
    > * {
      border-radius: 0;
    }
  }

  .a-card {
    background-color: #eaeaea;
    border-radius: 7px;
    margin: 15px 0;
    border: 1px solid #ccc;
    overflow: hidden;
    a{
      display: block;
      min-height: 150px;
      position: relative;
      img{
        //opacity: 0;
        &.loaded{
          opacity: 1;
          transition: all 0.8s;
        }
      }
    }
  }
  .thumb-footer h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .info-wrap {
    font-size: 1px;
    line-height: 0;
    padding: 7px 0 4px;
    text-align: justify;
    @include display_inline_block();
    > * {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .info-inner-l {
    text-align: center;
    margin-left: 5px;
    .orange {
      font-size: 15px;
    }
    .cross {
      color: #acacac;
    }
  }
  .info-inner-r {

    //button {
    //  background-color: transparent;
    //  background-position: center center;
    //  background-repeat: no-repeat;
    //  background-size: 30px auto;
    //  border: medium none;
    //  height: 45px;
    //  margin: 0;
    //  padding: 0;
    //  width: 30px;
    //  &.add-cart {
    //    background-image: url("../img/cart.png");
    //    background-position: center bottom 9px;
    //    background-size: 29px auto;
    //    &.actived{
    //      background-image: url("../img/cart_added.png");
    //    }
    //  }
    //  &.add-wishlist {
    //    background-image: url("../img/wishlist.png");
    //    &.actived{
    //      background-image: url("../img/wishlist_added.png");
    //    }
    //  }
    //}
  }
  ion-spinner {
    bottom: 0;
    height: 28px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
  }
}