#popup-login-register {
  bottom: 0;
  height: 80%;
  left: 0;
  margin: auto;
  min-height: 435px;
  overflow: auto;
  right: 0;
  top: 0;
  width: 80%;
  .list label:first-child {
    border-top: medium none;
  }
  .tabs {
    bottom: auto;
    top: 0;
  }
  .pane {
    padding-top: 49px;
  }
  .tab-item {
    color: #b0b0b0;
    border: none;
    .tab-title {
      border-bottom: 2px solid #b0b0b0;
      padding-bottom: 3px;
    }
  }
  .tab-item.tab-item-active {
    color: #000;
    .tab-title {
      border-bottom: 2px solid #f94568;
    }
  }
  .scroll {
    height: 100%;
  }
  .second-list {
    margin: auto;
    width: 85%;
  }

  .second-list .item {
    border: medium none;
    padding: 0;
    text-align: center;
  }

  .support-link {
    background-color: palevioletred;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    width: 100%;
  }
}