#single-product-template {
  .slider-pager-page {
    height: 5px;
    width: 5px;
  }
  .slider-pager {
    display: none;
  }

  .slider-pager .ion-record {
    font-size: 11px;
  }
  .slider {
    height: 100%;
    text-align: center;
  }

  .scroll {
    height: 100%
  }

  .box {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      min-height: 250px;
      border-radius: 9px;
      opacity: 0;
      &.loaded {
        opacity: 1;
        transition: all 0.8s;
      }
    }
  }

  .related-product {
    font-size: 1px;
    .list {
      font-size: 1px;
      text-align: justify;
      &:after {
        content: "";
        display: inline-block;
        width: 100%;
      }
    }
    div.relate-item {
      display: inline-block;
      margin: 1%;
      position: relative;
      vertical-align: top;
      width: 31.33333%;
    }
    img {
      border-radius: 5px;
      width: 100%;
      opacity: 0;
      min-height: 90px;
      &.loaded {
        opacity: 1;
        transition: all 0.8s;
      }
    }
    .price-wrap {
      display: block;
      font-size: 14px;
      line-height: 27px;
      text-align: center;
    }
  }

  .related-product ion-scroll .scroll-bar {
    display: none;
  }

  .price-wrap > * {
    display: inline-block;
  }
  .info-inner-l {
    float: left;
    text-align: left;
  }
  .info-inner-r {
    float: right;
  }
  .title-product {
    font-size: 18px;
    font-weight: 500;
  }
  .bar h4 {
    font-size: 17px;
    font-weight: 300;
    text-align: left;
  }
  ks-swiper-container {
    display: block;
    height: 100px;
    width: 100%;
  }
  .swiper-slide.swiper-slide.swiper-slide {
    width: auto;
  }

  .ion-slide-box-wrap {
    position: relative;
  }

  .show-slide-number {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    bottom: 10px;
    color: #fff;
    left: 10px;
    padding: 4px 8px;
    position: absolute;
  }
}

#list-product-template {
  #single-product-template .info-inner-l {
    float: left;
    padding-top: 7px;
    text-align: left;
  }
  ion-item {
    border: none;
  }
}

.platform-ios {
  #single-product-template {
    .slider-pager {
      bottom: 10px;
    }
  }
}

@media screen and (min-width: 640px) {
  #single-product-template {
    .related-product {
      div.relate-item {
        width: 14.6666%;
      }
    }
  }
}