<ion-modal-view id="popup-cart-prodOpt">
    <ion-content scroll="false">
        <div class="label title-popup">
            <h4>Lua Chon</h4>
            <span class="note">(mau sac, kich thuoc, so luong)</span>
        </div>
        <div class="list">
            <label class="item item-input item-select item-light">
                <div class="input-label">
                    Mau sac
                </div>

                <select ng-model="choice.color" >
                    <option data-ng-repeat='color in optProd.color' value="{{color}}">{{color}}</option>
                </select>

            </label>

            <label class="item item-input item-select item-stable">
                <div class="input-label">
                    Kich thuoc
                </div>

                <select ng-model="choice.size">
                    <option data-ng-repeat='size in optProd.size' value="{{size}}">{{size}}</option>
                </select>
            </label>

            <label class="item item-input">
                <span class="input-label">So luong</span>
                <input type="text" ng-model="choice.quantity">
            </label>
        </div>
        <div class="button-bar">
            <button class="button pink" data-ng-click="add_to_cart()">Nhap</button>
            <button class="button pink" ng-click="closeModal()">Huy</button>
        </div>


    </ion-content>
</ion-modal-view>
