<ion-view id="list-product-template">
    <ion-content overflow-scroll="true">
        <div deckgrid class="deckgrid" source="products">
            <div class="a-card">
                <a href="#/menu/product/{{card.id}}">
                    <img ng-src="{{card.image_url}}" alt="{{card.name}}">
                </a>

                <div class="info-wrap">

                    <div class="info-inner-l">
                        <div class="orange">
                            50000
                        </div>
                        <div class="cross">
                            70000
                        </div>
                    </div>
                    <div class="info-inner-r">
                        <button class="add-wishlist" ng-class="{'actived' : card.like}" ng-click="mother.addToWishlist(card)"></button>
                        <button class="add-cart" data-ng-click="mother.add_to_cart(card)" ng-class="{'actived' : card.added}"></button>
                    </div>
                </div>
            </div>
        </div>

        <ion-infinite-scroll immediate-check="false" on-infinite="loadMoreData()" distance="5%"></ion-infinite-scroll>
    </ion-content>


</ion-view>