<ion-view id="list-product-template">
    <ion-content overflow-scroll="true">
        <div id="single-product-template">
            <ion-list>
                <ion-item>
                    <ion-slide-box class="product-images" does-continue="true">
                        <ion-slide ng-repeat="item in product.images">
                            <div class="box">
                                <!--<img ng-src="{{item.url}}" alt="A masonry brick">-->
                                <ion-spinner ng-show="!loaded" class="spinner-on-load"></ion-spinner>
                                <img ng-src="{{item.url}}" alt="{{item.name}}" ng-class="{loaded : loaded}" spinner-on-load>
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </ion-item>
                <ion-item class="item-text-wrap">
                    <h2 class="title-product">{{product.detail[0].name}}</h2>
                    <div class="info-wrap">
                        <div class="info-inner-l">
                            <div class="price-wrap">
                                <div class="cross" ng-show="product.detail[0].price_old">
                                    {{product.detail[0].price_old}}
                                </div>
                                <div class="orange">
                                    {{product.detail[0].price}}
                                </div>
                            </div>
                        </div>
                        <div class="info-inner-r">
                            <button class="button-cus button button-clear button-icon ion-ios-heart"
                                    ng-class="{'actived' : product.detail[0].like}"
                                    ng-click="addToWishlist(product.detail[0])"></button>
                            <button class="button-cus ion-bag button button-clear button-icon"
                                    data-ng-click="add_to_cart(product.detail[0])"
                                    ng-class="{'actived' : product.detail[0].added}"></button>
                        </div>
                    </div>
                </ion-item>

            </ion-list>
            <ion-list>
                <div class="bar bar-grey">
                    <h4 class="title">Sản Phẩm Khác</h4>
                </div>
                <ion-item class="has-header">
                    <div class="related-product">
                        <ion-scroll direction="x" class="wide-as-needed">
                            <div data-ng-repeat="item_img in product.related">
                                <a ui-sref="menu.product({id : item_img.entity_id})">
                                    <ion-spinner ng-show="!loaded" class="spinner-on-load"></ion-spinner>
                                    <img ng-src="{{item_img.thumb}}" alt="{{item_img.name}}" ng-class="{loaded : loaded}" spinner-on-load>
                                    <div class="price-wrap">
                                        <div class="cross" ng-show="item_img.price_old">
                                            {{item_img.price_old}}
                                        </div>
                                        <div class="orange" ng-hide="item_img.price_old">
                                            {{item_img.price}}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </ion-scroll>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>