<ion-view id="list-product-template">
    <p>{{cartNumber}}</p>
    <ion-content overflow-scroll="true" ng-class="{needbottom : cartNumber}">
        <div deckgrid class="deckgrid" source="products">

            <div class="a-card">

                <a href="#/menu/product/{{card.entity_id}}">
                    <!--<ion-spinner ng-show="card.loading" class="spinner-on-load"></ion-spinner>-->
                    <!--<img ng-src="{{card.thumb}}" alt="{{card.name}}" ng-class="{loaded : loaded}" spinner-on-load>-->
                    <img ng-src="{{card.thumb}}" alt="{{card.name}}">
                </a>

                <div class="info-wrap">

                    <div class="info-inner-l">
                        <div class="orange">
                            {{card.price}}
                        </div>
                        <div class="cross" ng-show="card.price_old">
                            {{card.price_old}}
                        </div>
                    </div>
                    <div class="info-inner-r">
                        <button class="button-cus button button-clear button-icon ion-ios-heart"
                                ng-class="{'actived' : card.like}"
                                ng-click="mother.addToWishlist(card)"></button>
                        <button class="button-cus ion-bag button button-clear button-icon"
                                data-ng-click="mother.add_to_cart(card)"
                                ng-class="{'actived' : card.added}"></button>
                    </div>
                </div>
            </div>
        </div>

        <ion-infinite-scroll immediate-check="false" on-infinite="loadMoreData()" distance="5%"
                             ng-if="loadMore[0]"></ion-infinite-scroll>
    </ion-content>
    {{cartNumber}}
    <ion-footer-bar ng-class="{slided : cartNumber}">
        <div class="button-bar button-next-total">
            <button class="button">{{total}}</button>
            <button class="button button-positive" ui-sref="menu.cart">Xem giỏ hàng
            </button>
        </div>
    </ion-footer-bar>
</ion-view>