<ion-view id="list-product" cache-view="false">
    <ion-content id="checkout-template" class="checkout-edit" overflow-scroll="true">
        <form class="form-wrap" ng-submit="updateCheckout()" name="checkoutForm">
            <ion-list class="address">
                <ion-item class="item-divider title-group">
                    <h2>{{shippingInfo[0].title}}</h2>
                </ion-item>
                <ion-item class="item-text-wrap"
                          ng-class="{current : compareObj(shippingInfo[0].method[0],checkoutInfo.methodShip)}">
                    <input id="A" type="radio" ng-model="checkoutInfo.methodShip"
                           ng-value="shippingInfo[0].method[0]">
                    <label for="A">
                        <span>{{shippingInfo[0].method[0].name}}</span>
                    </label>
                </ion-item>

                <div ng-show="!below50">
                    <!--B-->
                    <ion-item class="item-divider item-text-wrap">
                        <h3>{{shippingInfo[1].title}}</h3>
                    </ion-item>
                    <ion-item class="item-text-wrap" ng-repeat="method in shippingInfo[1].method"
                              ng-class="{current : compareObj(method,checkoutInfo.methodShip)}">
                        <input id="B-{{method.type}}" type="radio" ng-model="checkoutInfo.methodShip"
                               ng-value="method">
                        <label for="B-{{method.type}}">
                            <span>{{method.name}}</span>
                        </label>
                    </ion-item>

                    <!--C-->
                    <ion-item class="item-divider item-text-wrap">
                        <h3>{{shippingInfo[2].title}}</h3>
                    </ion-item>
                    <ion-item class="item-text-wrap" ng-repeat="method in shippingInfo[2].method"
                              ng-class="{current : compareObj(method,checkoutInfo.methodShip)}">
                        <input id="C-{{method.type}}" type="radio" ng-model="checkoutInfo.methodShip"
                               ng-value="method">
                        <label for="C-{{method.type}}">
                            <span>{{method.name}}</span>
                        </label>
                    </ion-item>


                    <div ng-show="!below100">
                        <ion-item class="item-divider item-text-wrap">
                            <h3>{{shippingInfo[3].title}}</h3>
                        </ion-item>
                        <ion-item class="item-text-wrap" ng-repeat="method in shippingInfo[3].method"
                                  ng-class="{current : compareObj(method,checkoutInfo.methodShip)}">
                            <input id="D-{{method.type}}" type="radio" ng-model="checkoutInfo.methodShip"
                                   ng-value="method">
                            <label for="D-{{method.type}}">
                                <span>{{method.name}}</span>
                            </label>
                        </ion-item>
                    </div>
                </div>
            </ion-list>
            <ion-list class="address">
                <ion-item class="item-divider title-group">
                    <h2>Thanh Toán</h2>
                </ion-item>
                <ion-item class="item-text-wrap" ng-repeat="method in paymentInfo"
                          ng-class="{current : compareObj(method, checkoutInfo.methodPayment)}">
                    <input type="radio" id="payment-{{method.type}}" ng-model="checkoutInfo.methodPayment"
                           ng-value="method">
                    <label for="payment-{{method.type}}">
                        <span>{{method.name}}</span>
                    </label>
                </ion-item>
            </ion-list>
            <ion-list class="address-info">
                <ion-item class="item-divider title-group">
                    <h2>Thông tin giao hàng</h2>
                </ion-item>
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Họ tên<span class="red">*</span></span>
                    <input type="text" name="name" ng-model="checkoutInfo.name" ng-pattern="/^([^\d\s]+\s+[^\d\s]+)[^\d]*$/" required>
                </ion-item>
                <p class="error-inform" ng-show="checkoutForm.name.$error.required && !checkoutForm.name.$pristine">*
                    Vui lòng điền tên</p>

                <p class="error-inform" ng-show="checkoutForm.name.$error.pattern">* Tên có ít nhất 2 từ không chứa số</p>
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Email <span ng-show="user.login">* (không được đổi)</span></span>
                    <input type="email" ng-model="checkoutInfo.email" ng-readonly="user.login">
                </ion-item>
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Điện thoại<span class="red">*</span></span>
                    <input type="tel" name="phone" ng-model="checkoutInfo.phone" required>
                </ion-item>
                <p class="error-inform" ng-show="checkoutForm.phone.$error.required && !checkoutForm.phone.$pristine">*
                    Vui lòng cung cấp
                    điện thoại</p>
                <div class="border-top" ng-show="checkoutInfo.methodShip.type != 'freeshipping'">
                    <ion-item class="item-input item-stacked-label">
                        <span class="input-label">Địa chỉ<span class="red">*</span></span>
                        <input type="text" name="address" ng-model="checkoutInfo.address" ng-required="checkoutInfo.methodShip.type != 'freeshipping'">
                    </ion-item>
                    <p class="error-inform"
                       ng-show="checkoutForm.address.$error.required && !checkoutForm.address.$pristine">* Vui lòng điền
                        địa
                        chỉ</p>
                    <ion-item class="item-input item-stacked-label">
                        <span class="input-label">Quận/Huyện<span class="red">*</span></span>
                        <input type="text" name="district" ng-model="checkoutInfo.district" ng-required="checkoutInfo.methodShip.type != 'freeshipping'">
                    </ion-item>
                    <p class="error-inform"
                       ng-show="checkoutForm.district.$error.required && !checkoutForm.district.$pristine">* Vui lòng
                        điền
                        quận/huyện</p>
                    <ion-item class="item-input item-stacked-label">
                        <span class="input-label">Phường/Xã<span class="red">*</span></span>
                        <input type="text" name="ward" ng-model="checkoutInfo.ward" ng-required="checkoutInfo.methodShip.type != 'freeshipping'">
                    </ion-item>
                    <p class="error-inform" ng-show="checkoutForm.ward.$error.required && !checkoutForm.ward.$pristine">
                        * Vui lòng điền
                        phường/xã</p>
                    <ion-item class="item-input item-stacked-label">
                        <span class="input-label">Thành Phố<span class="red">*</span></span>
                        <input type="text" name="city" ng-model="checkoutInfo.city" ng-required="checkoutInfo.methodShip.type != 'freeshipping'">
                    </ion-item>
                    <p class="error-inform" ng-show="checkoutForm.city.$error.required && !checkoutForm.city.$pristine">
                        * Vui lòng điền thành
                        phố</p>
                </div>
            </ion-list>
            <button class="button no-radius button-block button-positive submit-btn" type="submit"
                    ng-disabled="checkoutForm.$invalid">Lưu
            </button>
        </form>
    </ion-content>
</ion-view>
