<ion-view id="list-product">
    <ion-content>
        <ion-list class="shipping-info">
            <ion-item>
                <button ui-sref="menu.checkout_edit">Sửa</button>
                <h2>Địa Chỉ Giao Hàng</h2>

                <p>900, Lạc Long Quân, Q.11, HCM</p>

                <h2>Chuyển Hàng</h2>

                <p>Gửi hàng qua dịch vụ - nội thành</p>

                <h2>Thanh Toán</h2>

                <p>Thanh toán khi nhận hàng</p>
            </ion-item>
        </ion-list>
        <ion-list class="sum-wrap">
            <ion-item>
                <div>
                    <h2>Tổng</h2>

                    <p>200.000</p>
                </div>
                <div>
                    <h2>Phí Giao Hàng</h2>

                    <p>20.000</p>
                </div>
                <div>
                    <h2>Tổng Cộng</h2>

                    <p>220.000</p>
                </div>
            </ion-item>
        </ion-list>
        <button class="button no-radius button-block button-positive" data-ng-click="checkout()">Thanh toan</button>
    </ion-content>
</ion-view>