<ion-view>
    <ion-content>
        <ion-list>
            <ion-item>
                <div>
                    <a ui-sref="products.checkout_edit">Sua</a>
                </div>
                <h2>Dia chi giao hang</h2>

                <p>900 Lac Long Quan</p>

                <h2>Chuyen hang</h2>

                <p>Chuyen hang qua dich vu noi thanh</p>

                <h2>Thanh toan</h2>

                <p>Thanh toan khi nhan hang</p>
            </ion-item>
            <ion-item>
                <div>
                    <h2>Tong</h2>
                    <span>200.000</span>
                </div>
                <div>
                    <h2>Phi giao hang</h2>
                    <span>200.000</span>
                </div>
                <div>
                    <h2>Tong cong</h2>
                    <span>200.000</span>
                </div>
            </ion-item>
        </ion-list>
        <button class="button button-block button-positive" data-ng-click="checkout()">Thanh toan</button>
    </ion-content>
</ion-view>