<ion-view id="list-product" cache-view="false">
    <ion-content id="checkout-template">
        <div class="padding red">
            <p ng-show="checkoutForm.name.$error.required && !checkoutForm.name.$pristine">* Vui lòng điền tên</p>
            <p ng-show="checkoutForm.phone.$error.required && !checkoutForm.phone.$pristine">* Vui lòng cung cấp điện thoại</p>
            <p ng-show="checkoutForm.address.$error.required && !checkoutForm.address.$pristine">* Vui lòng điền địa chỉ</p>
            <p ng-show="checkoutForm.district.$error.required && !checkoutForm.district.$pristine">* Vui lòng điền quận/huyện</p>
            <p ng-show="checkoutForm.ward.$error.required && !checkoutForm.ward.$pristine">* Vui lòng điền phường/xã</p>
            <p ng-show="checkoutForm.city.$error.required && !checkoutForm.city.$pristine">* Vui lòng điền thành phố</p>
        </div>
        <form class="form-wrap" ng-submit="updateCheckout()" name="checkoutForm">
            <ion-list class="address-info">
                <ion-item class="item-divider title-group">
                    <h2>Địa chỉ giao hàng</h2>
                </ion-item>
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Họ tên<span class="red">*</span></span>
                    <input type="text" name="name" ng-model="checkoutInfo.name" required>
                </ion-item>

                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="checkoutInfo.email">
                </ion-item>
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Điện thoại<span class="red">*</span></span>
                    <input type="text" name="phone" ng-model="checkoutInfo.phone" required>
                </ion-item>

                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Địa chỉ<span class="red">*</span></span>
                    <input type="text" name="address" ng-model="checkoutInfo.address" required>
                </ion-item>
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Quận/Huyện<span class="red">*</span></span>
                    <input type="text" name="district" ng-model="checkoutInfo.district" required>
                </ion-item>
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Phường/Xã<span class="red">*</span></span>
                    <input type="text" name="ward" ng-model="checkoutInfo.ward" required>
                </ion-item>
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Thành Phố<span class="red">*</span></span>
                    <input type="text" name="city" ng-model="checkoutInfo.city" required>
                </ion-item>
            </ion-list>
            <ion-list class="address">
                <ion-item class="item-divider title-group">
                    <h2>Chuyển Hàng</h2>
                </ion-item>
                <ion-item class="item-text-wrap">
                    <input id="chose-1" type="radio" ng-model="checkoutInfo.methodShip" ng-value="shippingInfo.A">
                    <label for="chose-1">
                        <span>{{shippingInfo.A.text}}</span>
                    </label>
                </ion-item>

                <div ng-show="!below50">
                    <!--B-->
                    <ion-item class="item-divider item-text-wrap">
                        <h3>{{shippingInfo.B.text}}</h3>
                    </ion-item>
                    <ion-item class="item-text-wrap" ng-repeat="method in shippingInfo.B.method">
                        <input id="B-{{method.value}}" type="radio" ng-model="checkoutInfo.methodShip"
                               ng-value="shippingInfo.B.method[$index]">
                        <label for="B-{{method.value}}">
                            <span>{{method.text}}</span>
                        </label>
                    </ion-item>

                    <!--C-->
                    <ion-item class="item-divider item-text-wrap">
                        <h3>{{shippingInfo.C.text}}</h3>
                    </ion-item>
                    <ion-item class="item-text-wrap" ng-repeat="method in shippingInfo.C.method">
                        <input id="C-{{method.value}}" type="radio" ng-model="checkoutInfo.methodShip"
                               ng-value="shippingInfo.C.method[$index]">
                        <label for="C-{{method.value}}">
                            <span>{{method.text}}</span>
                        </label>
                    </ion-item>
                    <div ng-show="!below100">
                        <!--Ngo?i thành -->
                        <ion-item class="item-divider">
                            <h3>Ngo?i thành</h3>
                        </ion-item>
                        <ion-item class="item-text-wrap">
                            <input id="D" type="radio" ng-model="checkoutInfo.methodShip" ng-value="shippingInfo.D">
                            <label for="D">
                                <span>{{shippingInfo.D.text}}</span>
                            </label>
                        </ion-item>
                        <ion-item class="item-text-wrap">
                            <input id="E" type="radio" ng-model="checkoutInfo.methodShip" ng-value="shippingInfo.E">
                            <label for="E">
                                <span>{{shippingInfo.E.text}}</span>
                            </label>
                        </ion-item>
                    </div>
                </div>
            </ion-list>
            <ion-list class="address">
                <ion-item class="item-divider title-group">
                    <h2>Thanh Toán</h2>
                </ion-item>
                <ion-item class="item-text-wrap">
                    <input type="radio" id="chose-6" ng-model="checkoutInfo.methodPayment" ng-value="paymentInfo.A">
                    <label for="chose-6">
                        <span>{{paymentInfo.A}}</span>
                    </label>
                </ion-item>
                <ion-item class="item-text-wrap">
                    <input type="radio" id="chose-7" ng-model="checkoutInfo.methodPayment" ng-value="paymentInfo.B">
                    <label for="chose-7">
                        <span>{{paymentInfo.B}}</span>
                    </label>
                </ion-item>
            </ion-list>
            <button class="button button-block button-positive submit-btn" type="submit" ng-disabled="checkoutForm.$invalid">Lưu</button>
        </form>
    </ion-content>
</ion-view>
