<ion-view id="popup-cart-prodOpt">
    <ion-content>
        <form>
            <h2>Dia chi giao hang</h2>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Ho ten</span>
                    <input type="text" placeholder="John">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="john@suhr.com">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Dien thoai</span>
                    <input type="text" placeholder="123456789">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Dia chi</span>
                    <input type="text" placeholder="164 Tran Binh Trong">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Quan/Huyen</span>
                    <input type="text" placeholder="5">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Phuong/Xa</span>
                    <input type="text" placeholder="4">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Thanh Pho</span>
                    <input type="text" placeholder="Ho Chi Minh">
                </label>
            </div>
            <button class="button button-block button-positive" type="submit">Luu</button>
        </form>
    </ion-content>
</ion-view>
